@font-face {
    font-family: 'Nerko One';
    src:  url(~@/assets/fonts/nerko.woff) format('woff');
  }

  @font-face {
    font-family: 'Montserrat-bold';
    font-style: bold;
    src: url(~@/assets/fonts/montserrat-bold.woff) format('woff');
  }

  @font-face {
    font-family: 'Montserrat semibold';
    src: url(~@/assets/fonts/montserrat-semibold.woff) format('woff');
  }

  @font-face {
    font-family: 'Montserrat regular';
    src: url(~@/assets/fonts/montserrat-regular.woff) format('woff');
  }

  @font-face {
    font-family: 'Montserrat-extrabold';
    src: url(~@/assets/fonts/montserrat-extrabold.woff) format('woff');
  }